/* Expand sidebar to fill the entire window */
/* NOTE:  When hiding the sidebar header, use `display: none` instead of
          `visibility: collapse`. */

/* Configuration */
#main-window {
 --x-sidebar-width: 280.5px;
 --x-scale: 1.5;  /* scaling factor for HiDPI displays */
}
:root #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
 --x-sidebar-header-height: 0px;  /* comment out if not hiding sidebar header for TST */
}
/* normal uidensity */ #sidebar-box {
 --x-sidebar-header-height: 28.5px;
}
[uidensity="compact"] #sidebar-box {
 --x-sidebar-header-height: 24.5px;
}
[uidensity="touch"] #sidebar-box {
 --x-sidebar-header-height: 29.75px;
}


/* Code */
#main-window:not([inDOMFullscreen]):not([chromehidden~="extrachrome"]):not([onclose*="exitPrintPreview"]) #navigator-toolbox,
#main-window:not([inDOMFullscreen]):not([chromehidden~="extrachrome"]):not([onclose*="exitPrintPreview"]) #appcontent,
#main-window:not([inDOMFullscreen]):not([chromehidden~="extrachrome"]):not([onclose*="exitPrintPreview"]) #browser-bottombox {
 margin-left: var(--x-sidebar-width) !important;
}
#main-window:not([inDOMFullscreen]):not([chromehidden~="extrachrome"]):not([onclose*="exitPrintPreview"]) .urlbarView:not(.megabar) {
 left: var(--x-sidebar-width) !important;
}
#main-window:not([inDOMFullscreen]):not([chromehidden~="extrachrome"]):not([onclose*="exitPrintPreview"]) #sidebar-box {
 position: fixed !important; top: 0 !important; bottom: 0 !important;
 z-index: 999 !important;
 width: var(--x-sidebar-width) !important;
 box-sizing: border-box !important;
 --x-sidebar-header-height-scaled: calc(var(--x-scale)*var(--x-sidebar-header-height));
}
#main-window:not([inDOMFullscreen]):not([chromehidden~="extrachrome"]):not([onclose*="exitPrintPreview"]) #sidebar-header {
 width: 100% !important; height: var(--x-sidebar-header-height-scaled) !important;
}
#main-window:not([inDOMFullscreen]):not([chromehidden~="extrachrome"]):not([onclose*="exitPrintPreview"])[uidensity="compact"]
#sidebar-title {
 margin-top: -0.16em !important;
}
#main-window:not([inDOMFullscreen]):not([chromehidden~="extrachrome"]):not([onclose*="exitPrintPreview"]) #sidebar {
 width: 100% !important; height: calc(100% - var(--x-sidebar-header-height-scaled)) !important;
}
