/* For use with the Vertigo theme. */

/* Pinned tab row(s) background */
html {
 background: Window !important;
 --tab-highlighted-glow: Highlight !important;
}

/* Non-pinned tabs background */
#tabbar {
 background: linear-gradient(rgba(255, 255, 255, 0.64), rgba(255, 255, 255, 0.64)), Window !important;
 background-clip: padding-box !important;
}

/* Border between pinned and non-pinned tabs */
#tabbar[style*="margin-top"] {
 border-top: 1px solid rgba(0, 0, 0, 0.084) !important;
}

body, #tabContextMenu * {
 font-weight: lighter !important;
}

#tabbar {
 border: none !important;
}

.tab {
 border: none !important;
 margin-bottom: 0px !important;
}

.tab:not(.active):not(:hover) {
 background-color: transparent !important;
}

.tab:not(.active):hover {
 background-color: ButtonFace !important;
}

.tab.pinned:not(.active):hover {
 background-color: rgba(0, 0, 0, 0.04) !important;
}

.tab.active {
 background-color: Highlight !important;
}

.tab.active * {
 color: HighlightText !important;
}

.favicon-default {
 opacity: 0.375 !important;
}

.tab.active .favicon-default {
 opacity: 0.625 !important;
}

.tab.active .favicon-default::before,
.tab.active .closebox::after {
 fill: HighlightText !important;
}

.simulate-svg-context-fill:root .tab.active .favicon-default::before,
.simulate-svg-context-fill:root .tab.active .closebox::after {
 background: HighlightText !important;
}

.tab .twisty {
 font-family: "Open Sans" !important;
 font-size: 10px !important;
}

.tab:not(:hover):not(.active) .closebox {
 display: none;
}

.tab .closebox {
 font-family: "Open Sans" !important;
 font-size: 10px !important;
}
.tab.active .closebox {
 color: HighlightText !important;
}

.newtab-button-box {
 display: none !important;
}

#context_reloadAllTabs, #context_closeTabsToTheEnd, #context_closeOtherTabs,
#context_openTabInWindow + .separator {
 display: none !important;
}
