/* For use with the Vertigo theme. */

:root {
 --x-background: var(--js-background, Window);
 --x-background-alpha: 0.64;
 --x-background-alpha-pinned: 0;
 --x-highlight: Highlight !important;
 --x-highlight-text: HighlightText !important;
 
 --tab-surface: transparent !important;
 --tab-surface-hover: ButtonFace !important;
 --x-tab-surface-hover-pinned: rgba(0, 0, 0, 0.04) !important;
 --tab-text: ButtonText !important;
 --tab-surface-active: var(--x-highlight) !important;
 --tab-surface-active-hover: var(--tab-surface-active) !important;
 --tab-active-text: var(--x-highlight-text) !important;
 --tab-highlighted-glow: var(--x-highlight) !important;
}

:root[data-js-background] {
 --x-background-alpha: 0.36;
 --x-background-alpha-pinned: 0.4;
 --tab-surface-hover: rgba(0, 0, 0, 0.085) !important;
 --x-tab-surface-hover-pinned: rgba(0, 0, 0, 0.1) !important;
}

/* Pinned tab row(s) background */
html, #background {
 background: linear-gradient(rgba(255, 255, 255, var(--x-background-alpha-pinned)), rgba(255, 255, 255, var(--x-background-alpha-pinned))), var(--x-background) !important;
}

/* Non-pinned tabs background */
#tabbar {
 background: linear-gradient(rgba(255, 255, 255, var(--x-background-alpha)), rgba(255, 255, 255, var(--x-background-alpha))), transparent !important;
 background-clip: padding-box !important;
}

/* Border between pinned and non-pinned tabs */
#tabbar[style*="margin-top"] {
 border-top: 1px solid rgba(0, 0, 0, 0.084) !important;
}

body, #tabContextMenu * {
 font-weight: lighter !important;
}

#tabbar {
 border: none !important;
}

.tab {
 border: none !important;
 margin-bottom: 0px !important;
}

.tab.pinned:not(.active):hover {
 background-color: var(--x-tab-surface-hover-pinned) !important;
}

/* Ugly fucking abomination of a hack to force the default favicon 
   for new tabs */
.tab:not(.loading)
.favicon-image[src^="moz-extension:"][src$="/globe-16.svg"]:not(.error) {
 display: none !important;
}
.tab:not(.loading):not(.x):not(.x):not(.x):not(.x):not(.x):not(.x):not(.x):not(x)
.favicon-image[src^="moz-extension:"][src$="/globe-16.svg"]:not(.error)
 ~ .favicon-default::before {
 display: inline-block !important;
}

.tab:not([data-current-uri^="about:privatebrowsing"]) .favicon-default {
 opacity: 0.375 !important;
}

.tab:not([data-current-uri^="about:privatebrowsing"]).active .favicon-default {
 opacity: 0.625 !important;
}

.tab:not([data-current-uri^="about:privatebrowsing"]).active .favicon-default::before,
.tab:not([data-current-uri^="about:privatebrowsing"]).active .closebox::after {
 fill: var(--tab-active-text) !important;
}

.simulate-svg-context-fill:root .tab:not([data-current-uri^="about:privatebrowsing"]).active .favicon-default::before,
.simulate-svg-context-fill:root .tab:not([data-current-uri^="about:privatebrowsing"]).active .closebox::after {
 background: var(--tab-active-text) !important;
}

.tab .twisty {
 font-family: "Open Sans" !important;
 font-size: 10px !important;
}

.tab:not(:hover):not(.active) .closebox {
 display: none;
}

.tab .closebox {
 font-family: "Open Sans" !important;
 font-size: 10px !important;
}
.tab.active .closebox {
 color: var(--tab-active-text) !important;
}

.newtab-button-box {
 display: none !important;
}

#context_reloadAllTabs, #context_closeTabsToTheEnd, #context_closeOtherTabs,
#context_openTabInWindow + .separator {
 display: none !important;
}
