/* Pinned tab row(s) background */
html {
 background: Window !important;
}
html:before {  /* `body { background }` doesn't work for some reason */
 content: " ";
 position: fixed; top: 0; right: 0; bottom: 0; left: 0;
 z-index: -999 !important;
 background: rgba(255, 255, 255, 0) !important;
}

/* Non-pinned tabs background */
#tabbar {
 background: Window !important;
}
#all-tabs, .tabs {
 min-height: 100% !important;
}
.tabs {
 background: rgba(255, 255, 255, 0.64) !important;
}

/* Border between pinned and non-pinned tabs */
#tabbar[style*="margin-top"] {
 border-top: 1px solid rgba(0, 0, 0, 0.084) !important;
}

body, #tabContextMenu * {
 font-weight: lighter !important;
}

#tabbar {
 border: none !important;
}

.tab {
 border: none !important;
 margin-bottom: 0px !important;
}

.tab:not(.active):not(:hover) {
 background: transparent !important;
}

.tab:not(.active):hover {
 background: ButtonFace !important;
}

.tab.pinned:not(.active):hover {
 background: rgba(0, 0, 0, 0.04) !important;
}

.tab.active {
 background: Highlight !important;
}

.tab .twisty {
 font-family: "Open Sans" !important;
 font-size: 10px !important;
}

.tab:not(:hover):not(.active) .closebox {
 display: none;
}

.tab .closebox {
 font-family: "Open Sans" !important;
 font-size: 10px !important;
}
.tab.active .closebox {
 color: HighlightText !important;
}

.newtab-button-box {
 display: none !important;
}
